@model List<Category>;
    @{
    ViewData["Title"] = "Product Update Page";
    var categories = Model;
    var product = ViewBag.Product;
    }
    <!-- get gui qua https
    post ko gui qua https -->
    <form action="/Product/Save" method="get">
        <div class="form-group">
            <label for="Id">Id</label>
            <input value="@product.Id" type="text" class="form-control" id="Id" name="Id" readonly>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input value="@product.Name" type="text" class="form-control" id="Name" name="Name">
        </div>
        <div class="form-group">
            <label for="Slug">Slug</label>
            <input value="@product.Slug" type="text" class="form-control" id="Slug" name="Slug">
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input value="@product.Price" type="number" class="form-control" id="Price" name="Price">
        </div>
        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input value="@product.Quantity" type="number" class="form-control" id="Quantity" name="Quantity">
        </div>
        <div class="form-group">
            <label for="CategoryId">CategoryId</label>
            <select class="form-control" id="CategoryId" name="CategoryId">
                @foreach(var category in categories)
                {
                @if(category.Id==product.CategoryId){
                <option value="@category.Id" selected>@category.Name</option>
                }
                else{
                <option value="@category.Id">@category.Name</option>
                }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>